body{
    background-image: url(../img/hypnotize.png);
}
#nav-a-2{
    color: #b88b4a;
}
main{
    width: 100%;
    min-width: 1300px;
    background-image: url(../img/線上訂位背景.png);
    height: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.main{
    /* border: 1px solid black; */
    width: 60%;
    height: 600px;
    background-color: rgba(248, 248, 248, 0.8);;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
div.main > h1{
    text-align: center;
    margin-left: 50px;
}
/* div#date{ */
    /* width: 300px; */
    /* display: inline-block; */
    
/* } */
input#tdate,input#name,input#phone{
    width: 200px;
    margin:25px 0 25px 0;
    border-radius: 10px;
    border: 2px;
    padding: 0 0 0 50px;
    height: 30px;
    outline: none;
}
select.time {
    width: 200px;
    margin: 25px 0 25px 0;
    padding: 0 0 0 50px;
    border-radius: 10px;
    height: 30px;
    border: 2px;
    outline: none;
}
select.people{
   padding: 0 0 0 50px;
   margin: 25px 0 25px 0;
   width: 200px;
   border-radius: 10px;
   height: 30px;
   border: 2px;
   outline: none;
}
span.time,span.people,span.date{
    padding-right: 10px;
}
label{
    padding-right: 10px;
}
/* ==================按鈕================== */
button.text{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 35px;
    background-color: #532e1c;
    outline: none;
    margin-top: 25px;
 }
 button.text > a{
     color: white;
     text-decoration: none;
     padding: 10px 40px 10px 40px;
 }
 button.text1{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    /* margin-left: 35px; */
    /* margin-bottom: 20px; */
    background-color:  #af1b3f;
    outline: none;
    border: none;
    margin:30px 0 30px 65px;
 }
 button.text1 > a{
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
}

@media (max-width:991px){
    main{
        min-width: 100%;
    }
    .lightbox {
        min-width: 100%;
    }
    .cont{
        width: 70%;
    }
    .cont2{
        width: 50%;
    }
}
@media (max-width:576px){
    main{
        height: 100vh;
        min-width: 100%;
    }
    div.main{
        height: 95%;
        width: 90%;
    }
    .cont{
        width: 100%;
    }
    .cont2{
        width: 100%;
    }

}