
div{
  margin:200px;
  width:150px;
  height:100px;
  background:green;
  animation: bounceInLeft 3s infinite cubic-bezier(0.215, 0.610, 0.355, 1.000)
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  /* 60% {
    opacity: 1;
    transform: translate3d(-150px, 0, 0);
  }
  75% {
    transform: translate3d(-100px, 0, 0);
  }
  90% {
    transform: translate3d(-50px, 0, 0);
  } */
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
